.tech {
    width: 50vw;

}

.developer {

}

.techHeader {
    width: 50vw;
    background-color: #E5E5E5;
}

.developerHeader {
    background-color: #E5E5E5;

}

.row {
    display: flex;
    width: 55vw;
    border-bottom: 1px solid silver;
    padding: 5px;
}

.rowHeader {
    display: flex;
    margin-top: 20px;
}
